<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Practice Vue JS</title>
        <style>
            body {
                background-color: #fff;
                font-size: 18px;
                line-height: 1.5;
                font-weight: normal;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>

        <div id="app">
            <p>{{ message }}</p>
            <p>
                <span v-bind:title="time">Hover over me</span>
            </p>
            <ol>
                <li v-for="name in names" v-text="name"></li>
            </ol>
            <p>
                <span v-if="seen">I'm visible</span>
            </p>
        </div>

        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    time: 'You loaded this page' + new Date().toLocaleString(),
                    message: 'Hello Vue!',
                    names: ['Rakib', 'Rajon', 'Rabbi', 'Rahul'],
                    seen: false
                }
            });
        </script>
    </body>
</html>