* {
	margin: 0;
	padding: 0;
}
body {

}
#wrapper {
	width: 1170px;
	margin: 50px auto;
}
.content {
	float: left;
	width: 250px;
	height: 250px;
	margin-right: 20px;
	box-shadow: 0px 0px 25px black;
	border: 10px solid #fff;
	overflow: hidden;

}
.content img {
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 2000ms;
	        transition: transform 2000ms;
}
.img-caption {
	width: 250px;
	height: 250px;
	background: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	color: #fff;
	-webkit-transition: -webkit-transform 300ms;
	        transition: transform 300ms;
	position: relative;
}
.content:hover .img-caption {
	-webkit-transform: translateY(-257px);
	    -ms-transform: translateY(-257px);
	        transform: translateY(-257px);
}
.img-caption h3 {
	background: #00300a;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	margin-top: 210px;
	position: absolute;
	display:none;
}
.content:hover .img-caption h3 {
	display:block;
}
.content:hover img {
	-webkit-transform: scale(2,2);
	    -ms-transform: scale(2,2);
	        transform: scale(2,2);
}